In [1]:
import math
math.factorial(5)

120

In [2]:
math.exp(3)

20.085536923187668

In [3]:
pow(4,2)

16

In [4]:

for i in range(5):
    for j in range(i):
        print ('* ', end="")
    print('')

*
* *
* * *
* * * *

In [5]:
color_list = ['red', 'blue', 'green', 'white']
for c in color_list:
    print (c)

red
blue
green
white

In [6]:

num = (4,5,6,8)
for ad in num:
    
    print (ad)

4
5
6
8

In [7]:
x = 0
s = 0
while ( x < 10):
    s = s + x
    x = x + 1
else: 
    print('The sum of first 9 No:', s)

The sum of first 9 No: 45

In [8]:
x = [1, 2, 3, 4, 5, 6]
result = []
for idx in range(len(x)):
    if x[idx] % 2 == 0:
        result.append(x[idx] * 2)
    else:
        result.append(x[idx])
result

[1, 4, 3, 8, 5, 12]

In [9]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) # Declaring the tuple
num_sum = 0
count = 0
for x in numbers:
    num_sum = num_sum + x
    count = count + 1 
    if count == 5:
        break
print("Sum of first ",count,"integers is: ", num_sum)

Sum of first  5 integers is:  15

In [11]:
list1 = [1,2,3,4,5,6,7,8,9]
num_sum = 0
count = 0
for x in list1:
    num_sum = num_sum + x
    count = count + 1
print("sum of", count, "integers is ", num_sum)

sum of 9 integers is  45

In [12]:
for x in range(7):
    if(x == 3 or x == 6):
        continue
    print(x)

0
1
2
4
5

In [15]:
y = [1, 2, 3, 4, 5, 6]
result = []
for i in y:
   
        result.append(y)
    
result

[[1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6]]

In [16]:
y = [1,2,3,6]
result = []
for i in range(len(y)):
    if y[i] % 2 == 0:
        result.append(y[i] * 2)
    else:
        result.append(y[i] * 0)
result

[0, 4, 0, 12]

In [18]:
x = [1, 2, 3, 4, 5, 6]
[(e * 2 if e % 2 == 0 else e) for e in x]

[1, 4, 3, 8, 5, 12]

In [19]:
for i in range(5):
    for j in range(i):
        print("* ", end="")
    print("")

*
* *
* * *
* * * *

In [20]:
for i in range(5):
    for j in range(i):
        print("2 ", end="")     
    print('')

2
2 2
2 2 2
2 2 2 2

In [ ]:

for j in range(1,5):
        print("tech ", end="")
        for i in range(1,5):
                print("overlay ", end="")
                print("")

tech tech tech tech overlay
overlay
overlay
overlay

In [22]:
i = 1
while (i<=5):
    print("tech ", end="")
    j = 1
    while (j <= 4):
        print("overlay ", end="")
        j += 1
    print("")
    i += 1

tech overlay overlay overlay overlay
tech overlay overlay overlay overlay
tech overlay overlay overlay overlay
tech overlay overlay overlay overlay
tech overlay overlay overlay overlay

In [27]:
for i in range(4):
    for j in range(i):
        print("X " , end="space ")
    print("the end")

the end
X space the end
X space X space the end
X space X space X space the end

In [28]:
for num in range(100, 150):
    if all(num %i !=0 for i in range(2, num)):
        print( num)

101
103
107
109
113
127
131
137
139
149

In [29]:
l = [2,13,14,2,3,35,67,3,5,6,799,1,3,1,3,11,233,22,33,4,44]
l.sort(reverse = False)
print(l)

[1, 1, 2, 2, 3, 3, 3, 3, 4, 5, 6, 11, 13, 14, 22, 33, 35, 44, 67, 233, 799]

In [30]:
l1 = [2,3,1,0]
new_list = []
while l1:
    minimum = l1[0]
    for x in l1:
        if x > minimum:
             minimum = x
    new_list.append(minimum)
    l1.remove(minimum)
print(new_list)

[3, 2, 1, 0]

In [31]:
transaction = [3,4,5,5,6,4]
for x in transaction:
    print("your transaction list is: ",x)

your transaction list is:  3
your transaction list is:  4
your transaction list is:  5
your transaction list is:  5
your transaction list is:  6
your transaction list is:  4

In [35]:
j=1
while (True):
    print('abdusalam')
    j += 1
    break

abdusalam